Config(
	discord_token: "",
	 // The user IDs of everyone who can use the bot.
	owner_ids: [
		UserId(220584715265114113),
	],
	application_id: UserId(),
	// https://developer.wolframalpha.com/
	// Set to None to disable Wolfram Alpha.
	wolfram_alpha_full_app_id: Some(""),
	// The language name as it appears in the DeepL website.
	deepl_target_language: "",
	// https://wikipedia.org/wiki/List_of_tz_database_time_zones
	timezone: "",
	// The default color of embeds from `/embed`.
	embed_color: Color(0x000000),
	// https://api.random.org/dashboard
	randomorg_api_key: Some(""),
	// ListenBrainz user name.
	listenbrainz_user: Some(""),
)
